.profile-pic {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.post-pic {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.statusProfile {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.containerborder {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
}
.containerbordernavbar {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
}

.navbar-toggler {
    /* background-color: rgb(31, 30, 30); */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .firstcon {
        display: none;
        font-size: 0.8rem;
    }
    .lastcon {
        display: none;
    }
    .searchformnav {
        display: none;
    }
    .postics {
        /* display: grid; */
    }
    .statusProfile {
        box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .firstcon {
        display: none;
    }
    .lastcon {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .lastcon {
        display: none;
    }
    .firstcon {
        font-size: 0.9rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .firstcon {
        font-size: 0.92rem;
    }
}