.profile-pic {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.post-pic {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.statusProfile {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.containerborder {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
}
.containerbordernavbar {
    box-shadow: 0px 1px 3px rgba(37, 37, 37, 0.3);
}