<nav class="navbar navbar-expand-md containerbordernavbar fixed-top" style="background-color: white;">
    <div class="container-lg text-dark navcontainer">
      <a class="navbar-brand text-dark" href="/home">
        <button class="btn btn-dark btn-sm"><strong> <i class="fa-solid fa-group-arrows-rotate" style="font-size: 1rem"></i> SOCIAL</strong></button>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-burger" style="font-size: 2rem;"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/home"><i class="fa-solid fa-house"></i></a>
          </li> -->
        </ul>
        <form class="d-flex searchformnav">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
</nav>