<%- include('../templates/header.ejs') %>
<%- include('../templates/navbar.ejs') %>

<div class="container-lg my-4">
    <div class="row" style="margin-top: 5.5rem;">
        
    </div>
</div>

<%- include('../templates/footer.ejs') %>